name: Clang Linux Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y clang-12 cmake ninja-build curl zip unzip tar pkg-config clang-tidy libgl-dev

      - name: Cache vcpkg and installed libraries
        uses: actions/cache@v3
        with:
          path: |
            ${{ runner.workspace }}/vcpkg
            ${{ runner.workspace }}/vcpkg_installed
          key: vcpkg-${{ runner.os }}-${{ hashFiles('**/vcpkg.json') }}
          restore-keys: |
            vcpkg-${{ runner.os }}-

      - name: Clone vcpkg (if not cached)
        run: |
          if [ ! -d "${{ runner.workspace }}/vcpkg" ]; then
            git clone https://github.com/microsoft/vcpkg.git "${{ runner.workspace }}/vcpkg"
          fi

      - name: Bootstrap vcpkg
        run: |
          cd "${{ runner.workspace }}/vcpkg"
          ./bootstrap-vcpkg.sh

      - name: Install Qt6
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.6.0'
          host: 'linux'
          arch: 'gcc_64'
          target: 'desktop'
          dir: '${{ github.workspace }}'
          install-deps: 'true'
          setup-python: 'false'
          set-env: 'true'
          tools-only: 'false'

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgDirectory: '${{ runner.workspace }}/vcpkg'
          vcpkgJsonGlob: '**/vcpkg.json'

      - name: Configure CMake
        run: |
          cmake -S . -B build \
          -G Ninja \
          -DCMAKE_TOOLCHAIN_FILE=${{ runner.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake \
          -DCMAKE_BUILD_TYPE=Release \
          -DCMAKE_CXX_COMPILER=clang++ \
          -DCMAKE_C_COMPILER=clang

      - name: Build Project
        run: cmake --build build --config Release

      - name: Clang-tidy checks
        working-directory: ${{runner.workspace }}/build
        continue-on-error: true
        run: /usr/lib/llvm-10/share/clang/run-clang-tidy.py -p="" -checks=-*,clang-analyzer-*,concurrency-*,cppcoreguidelines-*,modernize-*,performance-*,portability-*,readability-*
