name: Windows Build
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Clone vcpkg
        run: git clone https://github.com/microsoft/vcpkg.git "${{ runner.workspace }}/vcpkg"
        
      - name: Python setup
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
          architecture: 'x64'

      - name: Install Qt6
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.6.0'
          host: 'windows'
          arch: 'win64_msvc2019_64'
          target: 'desktop'
          dir: '${{ github.workspace }}'
          install-deps: 'true'
          setup-python: 'false'
          set-env: 'true'
          tools-only: 'false'

      - name: Get prerequisites
        run: python -m pip install cmake

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgDirectory: '${{ runner.workspace }}/vcpkg'
          vcpkgJsonGlob: '**/vcpkg.json'

      - name: Configure CMake
        run: >
          cmake -S . -B build
          -G "Visual Studio 17 2022"
          -DVCPKG_TARGET_TRIPLET=x64-windows
          -DCMAKE_TOOLCHAIN_FILE=${{ runner.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake
          -DCMAKE_BUILD_TYPE=Release
          -DCMAKE_CXX_COMPILER="cl.exe"

      - name: Build Project
        run: cmake --build build --config Release
